#back {
    // background-image: url(../../../assets/back2.jpg);
    background-color: whitesmoke;
    background-attachment: scroll;
    background-size: contain;
}
h1 {
    margin-bottom: 30px;
}


span {
    color: black;
    margin-bottom: 50px;
}
#last {
    margin-bottom: 110px;
}
img {
    height: 30px;
    width: 80%;
    background-color: transparent;
}