<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: end;"><strong> "{{user}}"</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="back">
    <h1 style="text-align: end; color: darkgoldenrod">about me</h1>
    <br />
    <span
      >Passionate junior developper motivated by learn more formed in
      <i>reBootKamp tunisia</i> formed in extreme condition more than twelve
      hours of coding per day</span
    >
    <hr />
    <span
      >I am flexible, reliable and possess excellent time keeping skills. I am
      an enthusiastic, self-motivated, reliable, responsible and hard working
      person. I am a mature team worker and adaptable to all challenging
      situations. I am able to work well both in a team environment as well as
      using own initiative.</span
    >
    <hr />
    <span id="last"
      >I enjoy every minutes of coding and searching for the issues and a good
      problem solver</span
    >
    <hr />
    <div class="grid">
      <ion-button size="small" color="danger">hiiiiiiii</ion-button>
      <p style="color: red">
        number of likes you and 3 others likes sended directly from backend
      </p>
    </div>
  </div>
</ion-content>
