<!-- <ion-header color="primary" class="head">
  <ion-toolbar>
    <ion-title style="text-align: center">welcome</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="back">
    <div class="anim"></div>
    <h3>
      i'm <strong><span class="ex1">Med Alaa Rabai</span></strong>
    </h3>
    <h3>
      i'm a <strong><span class="ex1">Full stack developper</span></strong>
    </h3>
    <div class="anim"></div>
    <ion-item class="but">
      <ion-label style="color: darkgoldenrod;">Username :</ion-label>
      <ion-input type="text" #name></ion-input>
      <ion-button color = "warming" (click)="submitName(name.value)">submit</ion-button>
    </ion-item>
  </div>
  <div>
    <div class="card" style="width: 100%; height: 30%">
      <div class="card-body">
        <div id="demo" class="carousel slide" data-ride="carousel">
  
          <!-- The slideshow -->
  
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/icon/angular.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
              <img src="../../../assets/icon/ionic.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
              <img src="../../../assets/icon/nodeJs.jpg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
  
     
    </div>
  </div>
</ion-content>

